#kids-rides, #adult-rides, #too-tall, #tall {
  display: ;
}

.yellow-background {
  background-color:yellow;
}

.pink-background {
  background-color: pink;
}

.green-background {
  background-color: green;
}

